*{
    margin: 0;
    padding: 0;
}
table{
    border-collapse: collapse;
    margin:20px;
}
th{
    border: 1px solid #6c6c6c;
    background-color: #3a3a3a;
    color: #FFFFFF;
}
td{
    border:1px solid #6c6c6c;
    width: 200px;
    height: 30px;
    text-align: center;
}
tr:nth-child(odd){
    background-color: #8E8E8E;
}
tr:nth-child(-n+4){
    color: #CC0000;
}
.text{
    width: 400px;
    height:200px;
    margin:20px;
}
.text input{
    width: 150px;
    height: 20px;
    transition: width  1s;
}
.text input:focus{
    width: 250px;
}
.banner{
    width: 400px;
    height: 200px;
}
.banner ul{
    list-style: none;
}
.banner ul li{
    float: right;
    position: relative;
    z-index: 3;
    top: 180px;
}
.banner ul li a{
    text-decoration: none;
    background-color: #fff;
    color: #000000;
    border: 1px solid #6c6c6c;
    border-radius: 5px;
    padding: 0 10px;
}
.one{
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: #75b86b;
}
.two{
    position: absolute;
    width: 0;
    height: 200px;
    transition: width 1s;
}
.three{
    position: absolute;
    width: 0;
    height: 200px;
    transition: width 1s;
}
.banner #second:target{
    width: 200px;
    background-color:#009CDF;
}
.banner #third:target{
    width: 400px;
    background-color: #009CDF;
}
